footer {
  background-color: $primary-bg;
  color: $footer-primary-side;
  .footer-container {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin: 2em auto;
    margin-bottom: 0em;
    padding: 2em;
  }
  .archive-list {
    border-top: 1px solid $footer-border !important;
  }
  a {
    color: $footer-primary-side !important;
    &:hover {
      color: $footer-primary-side-hover !important;
      cursor: pointer;
    }
  }
  .sidenav {
    width: 200px;
    border-left: none;
    border-top: none;
    box-shadow: none;
    background-color: inherit;

    h4 {
      padding: 0.5em 1em;
    }
    ul {
      li {
        .article-list {
          border-top: 1px solid $footer-border;
        }
        .article-list-date {
          color: $footer-primary-side;
          cursor: default;
        }
      }
    }

    .th-archive {
      color: $footer-primary-side;
      border-top: 1px solid $footer-border;
    }
  }
  .contact {
    background-color: $secondary-bg;
    border-top: 2px solid $footer-border;
    padding: 1em;
    p {
      padding: 0.2em 0;
    }
  }
}
