.messages-container-hide {
  display: none;
}
.messages-container {
  border: 1px solid $border-left-top;
  position: relative;
  width: 100%;
  margin: 0.5em;
  padding: 0.5em;
  overflow: hidden;
  text-align: justify;
  line-height: 1.5em;
  color: $primary-text;  
  padding-right: 1em;
  z-index: 0;

  h4 {
    padding: 0.5em;
    border-bottom: 1px solid $border-left-top;
  }
  .message {
    margin-top: 1em;
    padding: 0.5em;
    font-size: 0.8em;
    border: 1px solid $border-left-top;
    textarea {
      width: 100%;
      height: 5.1em;
      border: 1px solid $border-left-top;
      padding: 1em;
      color: $primary-text; 
    }
    .button {
      margin: 1em 0;
      border-radius: 15px;
      height: 2em;
      width: 100px;
      outline: none;
      color: $primary-text;
      background-color: $body-bg;
      font-size: 1em;
      &:hover{
        background-color: $primary-bg;
        color: $primary-text-light;
      }
    }
  }
  .delete-button {
    margin-top: 0em;
    font-size: 1.2em;

    cursor: pointer;
    color: $primary-text;
    &:hover {
      color: $primary-text-hover;
      font-weight: 600;
    }
  }
}
.user-only {
  display: inline-block;
}
