@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
/*
//colors
$body-bg: #fff; //body color
$primary-bg: #454545; //navbar and footer background color.
$secondary-bg: #707070; //footer down color

$border-left-top: transparentize($secondary-bg, 0.8);
$box-shadow: transparentize($secondary-bg, 0.8);

$primary-text: #454545; //article content and title, sidebarlinks text, about and terms text/login labels text/buttons text
$primary-text-hover: darken(saturate($primary-text,10),20); //links
$primary-text-light: #e0e0e0; //navbar links text/
$primary-text-light-hover: lighten($primary-text-light,50); //navbar links text/
$secondary-text: #bbb; // article author,date,keywords,
$footer-primary-side: $primary-text-light; //footer texts.
$footer-primary-side-hover: $primary-text-light-hover; //footer texts hover.
$footer-border:$footer-primary-side; //footer border

*/
/*
//colors
$body-bg: #fff; //body color
$primary-bg: #d65333; //navbar and footer background color.
$secondary-bg: #ff6c47; //footer down color

$border-left-top: transparentize($secondary-bg, 0.8);
$box-shadow: transparentize($secondary-bg, 0.8);

$primary-text: #a02709; //article content and title, sidebarlinks text, about and terms text/login labels text/buttons text
$primary-text-hover:darken(saturate($primary-text,10),20); //links
$primary-text-light: #e0e0e0; //navbar links text/
$primary-text-light-hover: lighten($primary-text-light,50); //navbar links text/
$secondary-text: #cc745e; // article author,date,keywords,
$footer-primary-side: $primary-text-light; //footer texts.
$footer-primary-side-hover: $primary-text-light-hover; //footer texts hover.
$footer-border:$footer-primary-side; //footer border
*/
//colors
$body-bg: #e8f1ef; //body color
$primary-bg: #75aa44; //navbar and footer background color.
$secondary-bg: #024b00; //footer down color

$border-left-top: transparentize($secondary-bg, 0.8);
$box-shadow: transparentize($secondary-bg, 0.8);

$primary-text: #264e00; //article content and title, sidebarlinks text, about and terms text/login labels text/buttons text
$primary-text-hover:darken(saturate($primary-text,10),20); //links
$primary-text-light: #e0e0e0; //navbar links text/
$primary-text-light-hover: lighten($primary-text-light,50); //navbar links text/
$secondary-text: #3a9742; // article author,date,keywords,
$footer-primary-side: $primary-text-light; //footer texts.
$footer-primary-side-hover: $primary-text-light-hover; //footer texts hover.
$footer-border:$footer-primary-side; //footer border


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
body {
  overflow-x: hidden;
  background-color: $body-bg;
  color: $primary-text;
}

//text

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-light {
  color: $secondary-text;
}
.p-1 {
  padding: 0.5em;
}

a {
  cursor: pointer;
  color: $primary-text;
  text-decoration: none;
  &:hover {
    color: $primary-text-hover;
    font-weight: 500;
  }
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
  padding: 0;
}
.main {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  margin: 2.5em auto;
  padding: 0;
}
.placeholder {
  position: relative;
  top: 45px;
  height: 50px;
  width: 100%;
}

@media (max-width: 1000px) {
  #sidebar-container {
    display: none;
  }
  .main {
    justify-content: center;
  }
}
