service cloud.firestore {
  match /databases/{database}/documents {
  //match articles
  	match /articles/{articleId}{
  		allow read;
    	allow write: if (request.auth.token.powerUser==true && articleId.authorId==request.auth.uid);
     	allow write: if request.auth.token.admin==true;
 	 }
   //match messages
   match /messages/{messageId}{
  	 	allow read;
  		allow write:if request.auth.uid!=null;
   }
   //match users
   match /users/{userId}{
   	 	allow read;
  		allow create;
      allow update,delete: if request.auth.token.admin==true;
   }
   //match about
   match /about/{aboutId}{
  		allow read;
    	allow write: if request.auth.token.admin==true;
  	}
    //match terms
   match /terms/{termsId}{
  		allow read;
    	allow write: if request.auth.token.admin==true;
  	}
	}
}