@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
/* line 2, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_utilities.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

/* line 8, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_utilities.scss */
body {
  overflow-x: hidden;
  background-color: #fefefe;
}

/* line 29, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_utilities.scss */
.text-right {
  text-align: right;
}

/* line 32, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_utilities.scss */
.text-center {
  text-align: center;
}

/* line 35, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_utilities.scss */
.text-light {
  color: #777;
}

/* line 39, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_utilities.scss */
a {
  cursor: pointer;
  color: #454545;
  text-decoration: none;
}

/* line 43, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_utilities.scss */
a:hover {
  color: #111;
  font-weight: 600;
}

/* line 48, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_utilities.scss */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

/* line 57, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_utilities.scss */
.main {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  margin: 2.5em auto;
  padding: 0;
}

/* line 67, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_utilities.scss */
.placeholder {
  position: relative;
  top: 45px;
  height: 50px;
  width: 100%;
}

@media (max-width: 1000px) {
  /* line 75, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_utilities.scss */
  #sidebar-container {
    display: none;
  }
}

/* line 1, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.articles-container {
  max-width: 800px;
}

/* line 6, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.article-title h2 {
  color: #000;
  margin-bottom: 1em;
  cursor: pointer;
}

/* line 13, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.article-author p {
  color: #888;
  margin-bottom: 0em;
}

/* line 19, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.article-date p {
  color: #888;
  margin-bottom: 0em;
}

/* line 25, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.article-container {
  padding: 1em 2em;
  margin-top: 0.5em;
  box-shadow: 5px 5px 5px #ddd;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
}

/* line 31, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.article-container p {
  margin-bottom: 0.3em;
}

/* line 35, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.article-content {
  overflow: hidden;
  position: relative;
  text-align: justify;
  line-height: 1.7em;
  max-height: 5.1em;
  color: #454545;
  margin-right: -1em;
  padding-right: 1em;
  z-index: 0;
}

/* line 45, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.article-content img {
  max-width: 100%;
  height: auto;
}

/* line 51, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.hide {
  display: none;
}

/* line 55, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.article-content:before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 61, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.article-content:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
}

/* line 69, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.article-content-visible {
  overflow: hidden;
  position: relative;
  text-align: left;
  line-height: 1.7em;
  color: #454545;
  margin-right: -1em;
  padding-right: 1em;
  z-index: 0;
  max-height: initial;
}

/* line 79, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.article-content-visible img {
  max-width: 100%;
  height: auto;
}

/* line 83, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.article-content-visible p {
  margin-bottom: 1.2em;
}

/* line 87, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.readMore {
  margin-top: 0.5em;
}

/* line 89, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.readMore i {
  cursor: pointer;
  color: #454545;
}

/* line 92, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.readMore i:hover {
  color: #111;
  font-weight: 600;
}

/* line 98, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.addArticle {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  margin: auto;
  padding: 0;
}

/* line 107, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.addArticle form {
  margin: 2em;
}

/* line 109, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.addArticle form label {
  display: block;
  margin-bottom: 0.5em;
  color: #454545;
}

/* line 114, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.addArticle form input[type="text"] {
  border-radius: 15px;
  height: 2.5em;
  width: 100%;
  outline: none;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  color: #454545;
}

/* line 123, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.addArticle form select {
  border-radius: 15px;
  height: 2.5em;
  width: 100%;
  outline: none;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  color: #454545;
}

/* line 132, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_articles.scss */
.addArticle form .button {
  margin: 1em 0;
  border-radius: 15px;
  height: 2em;
  width: 100px;
  outline: none;
  color: #454545;
  background-color: #eee;
  font-size: 1em;
}

/* line 1, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.topnav {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  position: fixed;
}

/* line 11, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.topnav .nav {
  list-style: none;
}

/* line 13, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.topnav .nav .nav-item {
  display: inline-block;
  padding: 0.4em;
}

/* line 16, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.topnav .nav .nav-item:hover {
  font-weight: 600;
  cursor: pointer;
}

/* line 23, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.active-lang {
  background-color: #454545;
  color: #ddd;
}

/* line 27, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.navbar {
  z-index: 100;
  top: 30px;
  display: flex;
  background-color: #454545;
  color: #ddd;
  padding: 1em;
  width: 100%;
  position: fixed;
}

/* line 36, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.navbar a {
  color: #ddd;
}

/* line 39, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.navbar .nav-item {
  padding-right: 8px;
}

/* line 43, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.navbar-items {
  display: flex;
}

/* line 46, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.navbar-items-right {
  margin-left: auto;
}

/* line 49, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.nav-link-toggle {
  display: none;
}

/* line 52, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.nav-link {
  padding: 0.2em 0.8em;
}

/* line 56, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.dropdown {
  outline: none;
  padding: 0;
}

/* line 60, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.dropdown h4 {
  font-weight: 400;
  display: inline-block;
}

/* line 64, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.dropdown h4:hover {
  font-weight: 600;
}

/* line 70, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.category {
  list-style: none;
}

/* line 73, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.dropdown-content {
  display: none;
}

/* line 76, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.dropdown-content li {
  padding: 0.2em 0;
}

/* line 78, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.dropdown-content li:hover {
  font-weight: 600;
  cursor: pointer;
}

/* line 84, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
.drop {
  display: flex;
  position: relative;
}

@media only screen and (max-width: 680px) {
  /* line 90, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
  .navbar-items,
  .navbar {
    flex-direction: column;
  }
  /* line 94, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
  .navbar-items-right {
    margin-left: 0;
  }
  /* line 97, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
  .navbar-items {
    display: none;
  }
  /* line 101, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
  .nav-link-toggle {
    display: initial;
    align-self: flex-end;
    position: absolute;
    cursor: pointer;
  }
  /* line 107, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
  .navbar-toggleShow {
    display: flex;
  }
  /* line 110, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_navbar.scss */
  .article-container {
    padding: 0.6em;
    margin: 0.1em;
  }
}

/* line 1, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.sidebar-container {
  margin-top: 0.5em;
  position: sticky;
  top: 95px;
}

/* line 11, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.dropdown {
  outline: none;
  padding: 0;
}

/* line 15, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.dropdown h4 {
  font-weight: 400;
  display: inline-block;
}

/* line 19, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.dropdown h4:hover {
  font-weight: 600;
}

/* line 25, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.category-side {
  list-style: none;
}

/* line 29, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.dropdown-content-side {
  display: flex;
}

/* line 32, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.dropdown-content-side li {
  text-align: left;
  padding: 0.3em 1em;
  color: #454545;
  font-size: 0.9em;
}

/* line 38, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.dropdown-content-side li:hover {
  font-weight: 600;
  cursor: pointer;
}

/* line 42, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.dropdown-content-side li .archive-list {
  width: 150px;
  border-top: 1px solid #ccc;
}

/* line 49, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

/* line 59, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.sidenav {
  margin-bottom: 1em;
  width: 180px;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  box-shadow: 5px 5px 5px #ddd;
  text-align: left;
  border-top: 1px solid #ccc;
}

/* line 67, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.sidenav h4 {
  padding: 0.5em 1em;
}

/* line 70, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.sidenav ul {
  list-style: none;
}

/* line 73, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.sidenav ul li {
  text-align: left;
  padding: 0.3em 1em;
  color: #454545;
  font-size: 0.9em;
}

/* line 80, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.sidenav ul li:hover {
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

/* line 85, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.sidenav ul li .article-list {
  border-top: 1px solid #ccc;
}

/* line 89, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.sidenav ul li .article-list-date {
  font-size: 0.8em;
  color: #454545;
  font-weight: 300;
}

/* line 96, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.sidenav table {
  padding: 0em 0.5em;
  width: 180px;
}

/* line 100, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.sidenav .th-archive {
  text-align: left;
  padding: 0 0.5em;
  color: #454545;
  font-size: 1em;
  border-top: 1px solid #ccc;
}

/* line 107, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.sidenav .td-archive {
  text-align: left;
  padding: 0em 1em;
  color: #454545;
  font-size: 0.8em;
}

/* line 112, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_sidebar.scss */
.sidenav .td-archive:hover {
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

/* line 1, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_footer.scss */
.footer {
  background-color: #454545;
  color: #ddd;
}

/* line 4, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_footer.scss */
.footer .footer-container {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  margin: 2em auto;
  margin-bottom: 0em;
  padding: 2em;
}

/* line 16, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_footer.scss */
.footer a {
  color: #ddd !important;
}

/* line 18, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_footer.scss */
.footer a:hover {
  color: #fff !important;
  font-weight: 600;
  cursor: pointer;
}

/* line 24, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_footer.scss */
.footer .sidenav {
  width: 200px;
  border-left: none;
  border-top: none;
  box-shadow: none;
}

/* line 30, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_footer.scss */
.footer .sidenav h4 {
  padding: 0.5em 1em;
}

/* line 34, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_footer.scss */
.footer .sidenav ul li {
  color: #ddd;
}

/* line 37, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_footer.scss */
.footer .sidenav ul li:hover {
  color: #fff;
}

/* line 40, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_footer.scss */
.footer .sidenav ul li .article-list {
  border-top: 1px solid #888;
}

/* line 43, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_footer.scss */
.footer .sidenav ul li .article-list-date {
  color: #ddd;
  cursor: default;
}

/* line 50, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_footer.scss */
.footer .sidenav .th-archive {
  color: #ddd;
  border-top: 1px solid #888;
}

/* line 54, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_footer.scss */
.footer .sidenav .td-archive {
  color: #ddd;
}

/* line 57, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_footer.scss */
.footer .sidenav .td-archive:hover {
  color: #fff;
}

/* line 62, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_footer.scss */
.footer .contact {
  background-color: #222;
  border-top: 3px solid #888;
  padding: 1em;
}

/* line 66, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_footer.scss */
.footer .contact p {
  padding: 0.2em 0;
}

/* line 1, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_messages.scss */
.messages-container-hide {
  display: none;
}

/* line 4, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_messages.scss */
.messages-container {
  border: 1px solid #eee;
  position: relative;
  width: 100%;
  margin: 0.5em;
  padding: 0.5em;
  overflow: hidden;
  text-align: justify;
  line-height: 1.5em;
  color: #454545;
  padding-right: 1em;
  z-index: 0;
}

/* line 18, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_messages.scss */
.messages-container h4 {
  padding: 0.5em;
  border-bottom: 1px solid #eee;
}

/* line 22, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_messages.scss */
.messages-container .message {
  border: 1px solid #eee;
  margin-top: 1em;
  padding: 0.5em;
  font-size: 0.8em;
}

/* line 27, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_messages.scss */
.messages-container .message textarea {
  width: 100%;
  height: 5.1em;
  border: 1px solid #eee;
  padding: 1em;
}

/* line 33, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_messages.scss */
.messages-container .message .button {
  margin: 1em 0;
  border-radius: 15px;
  height: 2em;
  width: 100px;
  outline: none;
  color: #454545;
  background-color: #eee;
  font-size: 1em;
}

/* line 44, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_messages.scss */
.messages-container .delete-button {
  margin-top: 0em;
  font-size: 1.2em;
  cursor: pointer;
  color: #454545;
}

/* line 50, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_messages.scss */
.messages-container .delete-button:hover {
  color: #111;
  font-weight: 600;
}

/* line 56, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_messages.scss */
.user-only {
  display: inline-block;
}

/* line 3, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_auth.scss */
form h2 {
  margin-bottom: 1em;
}

/* line 6, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_auth.scss */
form label {
  display: block;
  margin-bottom: 0.5em;
  color: #454545;
}

/* line 11, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_auth.scss */
form input[type="email"] {
  border-radius: 15px;
  height: 2.5em;
  width: 100%;
  outline: none;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  color: #454545;
}

/* line 20, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_auth.scss */
form input[type="text"] {
  border-radius: 15px;
  height: 2.5em;
  width: 100%;
  outline: none;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  color: #454545;
}

/* line 29, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_auth.scss */
form input[type="password"] {
  border-radius: 15px;
  height: 2.5em;
  width: 100%;
  outline: none;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  color: #454545;
}

/* line 38, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_auth.scss */
form .button {
  margin: 1em 0;
  border-radius: 15px;
  height: 2em;
  width: 100px;
  outline: none;
  color: #454545;
  background-color: #eee;
  font-size: 1em;
}

/* line 49, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_auth.scss */
.center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

/* line 58, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_auth.scss */
.toogle {
  cursor: pointer;
  color: #454545;
}

/* line 61, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_auth.scss */
.toogle:hover {
  color: #111;
  font-weight: 600;
}

/* line 1, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_about.scss */
.about-container {
  max-width: 800px;
  padding: 1em 2em;
  margin-top: 0.5em;
  box-shadow: 5px 5px 5px #ddd;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
}

/* line 8, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_about.scss */
.about-container h2 {
  margin-bottom: 1em;
}

/* line 11, C:/Users/erd/Desktop/web development/react-blog/blog-client/sass/_about.scss */
.about-container p {
  margin-bottom: 1em;
  color: #454545;
  line-height: 1.5em;
}

/*# sourceMappingURL=../src/styles/style.map */